@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.logo img{
    width: 258px;
}

span{
    color: #F05D23;
}

.flex{
    display: flex;
}

#principal .flex{
    justify-content: space-evenly;
    align-items: center;
}

#principal{
    background-image: linear-gradient(to left, #501537, #B6307D);
    height: 100vh;
    padding: 40px;
}

#principal h1{
    color: white;
    font-size: 70px;
}

#principal img{
    width: 555;
}

#acai{
    height: 100vh;
}

.txt h1{
    color: F05D23;
}