@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.logo{
    padding: 5px;
}

.logo:hover{
    transition: ease .3s;
    transform: scale(1.07);
}

menu{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #210124;
}

menu ul li{
    display: inline-block;
    padding: 23px;
}

menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

section#principal{ 
    height: 90.5vh;
}

section#info{
    padding: 15vh;
    background-color: #210124;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

section#sobre{
    height: 85vh;
    display: flex;
    align-items: center;
    margin: 50px;
    gap: 100px;
}

section#sobre h1{
    font-size: 40px;
}

section#sobre p{
    padding: 10px 0;
    line-height: 30px;
}