@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Exo 2', sans-serif;
}

.flex{
    display: flex;
}

header{
    background-color: #170550;
}

header .flex{
    justify-content: center;
}

menu ul li{
    padding: 20px;
    display: inline-block;
}

menu ul li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
}

menu ul li a:hover{
    transition: ease .3s;
    transform: scale(1.10);
}

section#principal{
    padding: 40px 4%;
}

section#sobre-mim{
    padding: 40px 4%;
}

section#sobre-mim h1{
    text-align: center;
}

.img{
    text-align: center;
}

img{
    width: 150px;
}