@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Exo 2', sans-serif;
}

.flex{
    display: flex;
}

header{
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.536);
}

header .flex{
    justify-content: space-between;
}

.links ul li{
    display: inline-block;
}

.links ul li a, .nome ul li a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    color: black;
}

.links ul li a:hover, .nome ul li a:hover{
    transition: .4s;
    background-color: black;
    color: white;
}

.nome ul li{
    display: inline-block;
}

.nome ul li a{
    text-decoration: none;
    padding: 20px;
    color: black;
}

section#principal{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-principal{
    text-align: center;
}

.txt-principal h1{
    font-size: 52px;
}

.txt-principal h2{
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 10px;
}

.txt-principal a{
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.txt-principal a:hover{
    transition: .3s;
    background-color: white;
    color: black;
}

section#sobre-mim{
    height: 80vh;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.txt-sobre{
    width: 512px;
}

.txt-mim{
    width: 512px;
}

#sobre-mim h1{
    font-size: 32px;
}

#sobre-mim p{
    padding: 20px 0;
}

.imagens img{
    display: inline-block;
    transform: scale(1.10);
    transition: ease .4s;
    width: 60px;
    margin: 20px;
}

.imagens img:hover{
    width: 70px;
    margin: 20px;
}

.social i{
    color: black;
    display: inline-block;
    padding: 10px;
    font-size: 2em;
}

.social i:hover{
    transform: scale(1.10);
    transition: ease .4s;
}


#projetos h1{
    text-align: center;
    font-size: 42px;
}

.container{
    padding: 80px 4%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}

.box{
    background-color: black;
    display: inline-block;
    border-radius: 15px;
    color: white;
    padding: 40px;
    margin: 10px;
}

.box:hover{
    transform: scale(1.07);
    transition: .4s;
}

.box h1{
    margin-top: 10px;
}

.box p{
    padding: 10px;
}

section#contato{
    height: 80vh;
}

#contato h1{
    text-align: center;
    font-size: 42px;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(56, 56, 56);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 300px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

form .btn-enviar input:hover{
    transition: .3s;
    background-color: white;
    color: black;
}

footer{
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
}